#main {
    position: absolute;
    width: 500px;
    height: 650px;
    top: 10px;
    left: 10px;
  } 
#body {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 650px;
  }
div.region {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: Azure;
}
#r1 {
  top: 150px;
  left: 110px;
}
#r2 {
  top: 150px;
  left: 380px;
}
#r3 {
  top: 400px;
  left: 75px;
}
#r4 {
  top: 400px;
  left: 410px;
}
#r5 {
  top: 600px;
  left: 160px;
}
#r6 {
  top: 600px;
  left: 320px;
}

#show {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 50px;
  left: 600px;
  border: 3px solid #73AD21;
} 
#title {
  position: absolute;
  top: 10px;
  left: 600px;
}
img.sono {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0px;
  left: 0px;
}
